/* Главное меню категорий */
#categories li {
  list-style: none;
  display: inline;
  margin-right: .5em;
  font-size: 20px;
  background-color: black;
  color: white;
  padding: .3em .5em;
}

#categories li:hover {
	cursor: pointer;
}

#categories ul {
  margin-left: 0;
  padding-left: 0;
}

#categories {
  margin-bottom: 1.5em; 
}

#categories .active {
  background-color: orange;
}


/* Заглушка перед загрузкой */
#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
background:#7f7f7f;
  background:rgba(255,255,255,0.5);
}
#overlay img {
  position: absolute;
     top: 50%;
   left: 40%;
}




#general .graph_circle {
  fill: white;
  stroke: black;
  stroke-width: 2px;
}

.graph_circle:hover {
  cursor: crosshair;
}

svg, #general {
  margin-top: 1em;
}

.area_graph {
  opacity: 0.3;
    fill: orange;
}

/* Пример интеграции */

.normal span {
  float: right;
  position: relative;
  top: -0.3em;
  color: white;
  background-color: #2A2F4E;
  font-size: 11px;
  padding: 3px;
}

body {
    margin: 0;
    font-family: sans-serif;
}
#info {
        margin-bottom: 2em;
}
#menu_selector {
	margin: 0;
	padding: 0;
}
#menu_selector li {
	list-style: none;
	display: inline;
	font-size: 1.4em;
	border: .1em solid black;
	padding: .4em;

}
#menu_selector li:hover {
    cursor: pointer;
}
#map_selector, svg {
	display: block;
}



#map_selector {
	margin-top: 1em;
}

tbody tr:hover {
	background-color: lightgrey; 
}

#general select {
  	font-size: 1em;
	background-color: white;
		padding: .2em;
}

h2, .current_month {
	display: inline;
	
}
svg {
  margin-bottom: 2em;
}
#regional_data {
  clear: both;
  margin-top: 1.5em;
}

.current_month {
	font-size: 0.7em;
  position: relative;
  top: -1.5em;
	padding: 2px 5px 3px 5px;
	margin-left: .5em;
	color: white;
	background-color: #2A2F4E;
}
table {
	border-collapse: collapse;
	margin-top: 1em;
}

tbody tr td:first-child {  
  text-align: left;
}

thead tr th:first-child {
	padding-left: 0.4em;
	margin-left: 0;
}
thead select, #map_selector {
	font-size: 1em;
	background-color: white;
		padding: .2em;
}
thead th {
	padding: .5em;
	font-size: 1em;
	font-weight: normal;
   cursor: pointer;
}

table tr {
  border-top: 1px solid #DEE2DE;
}
.sorted.desc {
    color: black;
    border-top: 3px solid #2A2F4E;
}

.sorted.asc {
    color: black;
    border-bottom: 3px solid #2A2F4E;
}
tbody td {
	text-align: center;
	padding: 0.3em;
  font-size: 0.9em;
}
#menu li {
	list-style: none;
  display: inline;
	padding: .3em .3em;
	margin-right: .3em;
	border: 1px solid black;
	cursor: pointer;
}
.legend rect {
	stroke: black;
	cursor: pointer;
	}
.off {
	fill: white;
}
.active {
	background-color: #2A2F4E;
	color: white;
}

h1 {
  margin-bottom: 0;
}

#caption p {
	clear: both;
    margin: 0 auto;
    padding: 0 0 0 .2em;
    font-size: .8em;
	margin-bottom: 1em;
}
header, footer {
    background: #2A2F4E;
    width: 100%;
}
header {
	margin-bottom: 1em;
}
header img, header p {
	display: inline;
}
header p {
	float: right;
	margin-right: 10%;
}
header p a {
	color: white;
	text-decoration: none;
}
main {
    margin-left: 3em;
    width: 90%;
}
footer {
    margin-top: 1em;
}
footer p {
    padding: 1em 2em;
    font-size: .8em;
    color: white;
}
footer a {
    color: white;
}

#tooltip {
  position: absolute;
  width: auto;
  height: auto;
  padding: 5px;
  background-color: white;
  pointer-events: none;
  border: 1px solid black;
}
#tooltip.hidden, .invisible {
  display: none;
}
.hidden {
	display: none;
}

#tooltip p {
  margin: 0;
  font-size: 10px;
}
ul, label {
	display: inline;
}
#map path {
  stroke: black;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

#map circle {
  stroke: black;
  stroke-width: 1px;
  }
.text {
  margin-bottom: 3em;
}

#legend text {
    font-size: 10px;
}

#tooltip {
  position: absolute;
  height: auto;
  padding: 3px;
  background-color: white;
  pointer-events: none;
  border: 1px solid black;
}
#tooltip.hidden {
  display: none;
}
#tooltip p {
  margin: 0;
  font-size: 10px;
  color: black;
  padding: .3em;
}
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

#general_tooltip {
  position: absolute;
  width: auto;
  height: auto;
  padding: 5px;
  background-color: white;
  pointer-events: none;
  border: 1px solid black;
}
#general_tooltip.hidden, .invisible {
  display: none;
}
#general_tooltip p {
  margin: 0;
  font-size: 10px;
}
