#current_month {
	font-size: 10px;
  position: relative;
  top: -1.5em;
	padding: 3px 5px 3px 5px;
    margin-top: .5em;
	margin-left: .5em;
	color: white;
	background-color: #E36864;
}

img {
    float: left;
}
#title {
    padding-top: 12px;
}

#subtitle {
    padding: 0 0 3px 0;
    margin: 0 0 0 02em;
}
body {
    margin: 0;
}

#title {
    font-size: 22px;
    font-weight: bold;
}
#subtitle {
    font-size: 14px;
    
}

header {
    background-color: #28314D;
    color: white;
    font-family: sans-serif;
}
